/*General rules*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.floatleft{
  float: left;
  display: block;
}
.floatright{
  float: right;
  display: block;
}

/*/General rules*/

/* header rules */
header{

}
  header nav{
    background-color: #33475B;
    height: 50px;
    border-top: 2px solid orange;
    text-align: center;
  }
    header nav .navcontainer:after{
      content: "";
      display: table;
      clear: both;
    }

      nav .navcontainer .imglogo{
        float: left;
        width: 100px;
        padding: 10px;
      }

      nav .navcontainer .navlinks{
        float: left;
        display: block;
        margin: 10px 30px 10px 30px;
      }
        nav .navcontainer .navlinks ul{
        list-style-type: none;
        overflow: hidden;
        }
        nav .navcontainer .navlinks ul::after{
          content: "";
          display: table;
          clear: both;
        }

          nav .navcontainer .navlinks ul li{
          float: left;
          display: block;
          text-align: center;
          padding-left: 5px;
          padding-right: 5px;

          }
            nav .navcontainer .navlinks ul li a{
            text-decoration: none;
            color: white;
            line-height: 30px;
            }
      nav .navrightfloat{
        float: right;
        display: block;
        margin: 10px 30px 10px 30px;
      }

  header section.navgray{
      background-color: gray;
      height: 80px;
      padding-left: 50px;
      padding-right: 50px;
      position: relative;
    }
    header section.navgray::after{
      content: "";
      clear: both;
      display: table;
    }
/* /header rules */

/* article rules*/
article{

}

  article section.hubspot{
    height: 100px;
    background-color: lightblue;
  }

  article section.bigbluebg{
    height: 50vh;
    background-color: blue;
  }
  article section.rubic{
    height: 90vh;
    background-color: white;
  }
  article section.biglightblue{
    height: 50vh;
    background-color: lightblue;
  }
  article section.shopify{
    height: 70vh;
    background-color: white;
  }

/* /article rules*/

footer{
  height: 50vh;
  background-color: #33475B;
}
