/*General rules*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face{
  font-family: AvenirNextLTPro;
  src: url("../Avenir-Next-Font/AvenirNextLTPro-Regular.otf");
}

body{
  font-family: AvenirNextLTPro;
  margin: auto;
}

/*/General rules*/

/* selector to be used to not repeat the same steps*/
.floatleft{
  float: left;
  display: block;
}
.floatright{
  float: right;
  display: block;
}

ul{
  list-style-type: none;
  overflow: hidden;
}

li{
  float: left;
  display: block;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

a{
  text-decoration: none;
  color: white;
  line-height: 30px;
}

h1{
  font-size: 30px;
}
/* selector to be used to not repeat steps*/

/* header rules */
header{
  position: fixed;
  width: 100%;
  top:0;
  left: 0;
  z-index: 1000;
}
header nav{
  background-color: #33475B;
  border-top: 2px solid orange;
  text-align: center;
}
header nav .navcontainer:after{
  content: "";
  display: table;
  clear: both;
}

nav .navcontainer .imglogo{
  float: left;
  display: block;
  padding-top: 10px;

}

nav .navcontainer .navlinks{
  float: left;
  display: block;
  margin: 10px 30px 10px 30px;
}
nav .navcontainer .navlinks ul{
  list-style-type: none;
  overflow: hidden;
}
nav .navcontainer .navlinks ul::after{
  content: "";
  display: table;
  clear: both;
}

nav .navcontainer .navlinks ul li{
  float: left;
  display: block;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}
nav .navcontainer .navlinks ul li a{
  text-decoration: none;
  color: white;
  line-height: 30px;
}

nav .navrightfloat{
  float: right;
  display: block;
  margin: 10px 30px 10px 30px;
}

header section.navgray{
  line-height: 30px;
  background-color: gray;
  padding-left: 150px;
  padding-right: 50px;
  position: relative;
}
header section.navgray::after{
  content: "";
  clear: both;
  display: table;
}
header section.navgray .floatright .searchbar input[type=text]{
  border: 1px solid black;
  background-color: orange;
  color: white;
}
header section.navgray .floatright .searchbar input[type=text]::placeholder{
  color: white;
}
/* /header rules */

/* article rules*/
article.container{
  margin-top:100px;

}
/* section hubspot */
article section.hubspot{
  background-color: white;
  padding-left: 150px;
  padding-right: 150px;
  height: 50px;
}
article section.hubspot img{
  padding-top: 10%;
  padding-bottom: 10%;
}
article section.hubspot .floatright ul li {
  padding-top: 5%;
  padding-bottom: 5%;
}
article section.hubspot .floatright ul li a{
  color: gray;
}

/* /section hubspot */

/* section bigbluebg */
article section.bigbluebg{
  height: 60vh;
  background-image: url("../img/header-bg.jpg");
  background-repeat: repeat-x;
  background-size: 90%;
  background-position: -50%, 0%;
  padding: 50px 150px 50px 150px;
}

article section.bigbluebg .textsection{
  width: 300px;
}
article section.bigbluebg .textsection *{
  padding-top: 12px;
  padding-bottom: 12px;
}
article section.bigbluebg .textsection a{
  background-color: gray;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
}
/* /section bigbluebg */
/* section rubic */
.imglogo{
  width: 200px;
}
article section.rubic{
  background-color: #F4F8FA;
  padding: 50px 200px 50px 200px;
}
article section.rubic *{
  margin:10px 20px 10px 20px;
}

article section.rubic .rubic-a{
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  text-align: center;
}
article section.rubic .rubic-a:hover{
  border: 5px #e49942;
  border-style: groove;
}

article section.rubic .rubic-a .rubic-acontainer .imgrubic-a img{
  width: 250px
}

article section.rubic .rubic-b{
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 10%;
}
article section.rubic .rubic-b:hover{
  border: 5px #e49942;
  border-style: groove;
}
article section.rubic .rubic-b:after{
  content: "";
  display: table;
  clear: both;
}
article section.rubic .rubic-b .floatleft .imglogo a{
  background-color: #FF7A59;
  padding: 10px 20px 10px 20px;
  margin-left: 20%;
  border-radius: 5px;
}
article section.rubic .rubic-b .floatleft .rubic-btxt{
  width: 600px;
}
article section.rubic .rubic-b .floatleft .rubic-btxt #insieme{
  display: inline;
}

article section.rubic .rubic-c{
  position: relative;
  background-color: ;
  padding-top: 20px;
  padding-bottom: 20px;
}
article section.rubic .rubic-c:after{
  clear: both;
  display: table;
  content: "";
}
article section.rubic .rubic-c .rubic-cfloat{
  float: left;
  display: block;
  background-color: ;
  width: 250px;
  margin: 10px 20px 10px 20px;
  text-align: center;
}
article section.rubic .rubic-c .rubic-cfloat:hover{
  border: 5px #e49942;
  border-style: inset;
}
article section.rubic .rubic-c .rubic-cfloat p{
  text-align: left;
}
article section.rubic .rubic-c .rubic-cfloat ul li{
  text-align: left;
}
article section.rubic .rubic-c .rubic-cfloat:nth-of-type(1){
  margin-left: 4%;
}
article section.rubic .rubic-c .rubic-cfloat:nth-of-type(2){
  margin-left: 10%;
  margin-right: 10%;
}
article section.rubic .rubic-c .rubic-cfloat .imglogo img{
  width: 120px;
  height: 120px;
}
article section.rubic .rubic-c .rubic-cfloat a{
  background-color: #FF7A59;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
}
/* /section rubic */

/* /section biglightblue */
article section.biglightblue{
  min-height: 50vh;
  background-color: #00BAA8;
  text-align: center;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}
article section.biglightblue .txtcontainer{
  width: 50%;
  margin-right: 25%;
  margin-left: 25%;

}
article section.biglightblue .txtcontainer *{
  padding: 10px 20px 10px 20px;
}
article section.biglightblue .bluerowcontainer {
  padding-left: 17%;
  padding-right: 17%;
  padding-top: 20px;
}
article section.biglightblue .bluerowcontainer .bluerow:after{
  content: "";
  display: table;
  clear: both;
}

article section.biglightblue .bluerowcontainer .bluerow .floatcontainer{
  float: left;
  display: block;
  text-align: center;
  padding: 30px 4% 30px 4%;
  border: 1px solid white;
}
article section.biglightblue .bluerowcontainer .bluerow .floatcontainer img{
  width: 50px;
  height: 50px;
}
article section.biglightblue .bluerowcontainer .bluerow.a .floatcontainer{
  border-top: 0px;
}
article section.biglightblue .bluerowcontainer .bluerow.b .floatcontainer{
  border-bottom: 0px;
}
article section.biglightblue .bluerowcontainer .bluerow.a .floatcontainer:nth-of-type(1){
  border-left: 0px;
}
article section.biglightblue .bluerowcontainer .bluerow.a .floatcontainer:nth-of-type(4){
  border-right: 0px;
}
article section.biglightblue .bluerowcontainer .bluerow.b .floatcontainer:nth-of-type(1){
  border-left: 0px;
}
article section.biglightblue .bluerowcontainer .bluerow.b .floatcontainer:nth-of-type(4){
  border-right: 0px;
}
/* /section biglightblue */
/* shopify section */
article section.shopify{
  background-color: white;
  padding: 100px 200px 100px 200px;
  position: relative;
}

article section.shopify .shopifyrow::after{
  content: "";
  display: table;
  clear: both;
  position: relative;
}
article section.shopify .shopifyrow.a{
  padding-left: 10%;
}
article section.shopify .shopifyrow .txtcontainer{
  float: left;
  display: block;
  width: 300px;
  margin-right: 100px;
}
article section.shopify .shopifyrow.a .txtcontainer *{
  padding: 10px 20px 10px 20px;
}
article section.shopify .shopifyrow .logomain{
  float: left;
  display: block;
}
article section.shopify .shopifyrow .logocontainer{
  padding-top: 10px;
}
article section.shopify .shopifyrow .logocontainer:after{
  content: "";
  display: table;
  clear: both;
}
article section.shopify .shopifyrow .logocontainer .floatleft{
  padding: 10px 20px 10px 20px;
}
article section.shopify .shopifyrow .logocontainer .floatleft img{
  width: 100px;
  height: 30px;

}
/* shopify row b */
article section.shopify .shopifyrow.b {
  padding-left: 5%;
  position: relative;
  padding-top: 100px;
}

article section.shopify .shopifyrow.b .txtcontainer {
  width: 500px;
  float: left;
  display: block;
  padding-top: 100px;
}
article section.shopify .shopifyrow.b .txtcontainer *{
  padding-top: 20px;
  padding-bottom: 20px;
}
article section.shopify .shopifyrow.b .txtcontainer a{
  background-color: #FF7A59;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
}

article section.shopify .shopifyrow.b .imgcontainer{
  float:right;
  display: block;
}

article section.shopify .shopifyrow.b .imgcontainer img{
  width: 300px;
}
article section.shopify .shopifyrow.b .txtcontainer p:nth-of-type(2){
  font-size: 10px;
}
/* /shopify row b */
/* /shopify section */
/* /article rules*/

footer{
  padding: 100px 200px 100px 200px;
  background-color: #33475B;
}
/* footer firstrow */
footer .firstrow::after{
  content: "";
  display: table;
  clear: both;
}

footer .firstrow .floatleft{
  padding-left: 12px 12px 12px 12px;
  margin-left: 2%;
  margin-right: 2%;
}

footer .firstrow .floatleft h3{
  color: white;
}
footer .firstrow .floatleft li{
  float: none;
  text-align: left;
  padding-left: 0;
  padding-right: 0;
}
footer .firstrow .floatleft li:nth-child(6){
  padding-top: 10px;
  padding-bottom: 10px;
}
footer .firstrow .floatleft li:nth-child(6) a{
  padding: 10px 20px 10px 20px;
  background-color: white;
  color: black;
  border-radius: 5px;
}
footer .firstrow .floatleft li:nth-child(7) i{
  padding: 10px 5px 10px 5px;
  color: lightgray;
  font-size: 15px;
}
footer .firstrow .floatleft li a{
  float: none;
  text-align: left;
  color: lightgray;
}

/* /footer firstrow */
/* footer secondrow */
footer .secondrow{
  padding: 20px 30% 20px 30%;
}
/* /footer secondrow */
/* footer thirddrow */
footer .thirdrow{
  margin-top: 20px;
}
footer .thirdrow::after{
  clear: both;
  display: table;
  content: "";
}
footer .thirdrow .floatleft p{
  color: lightgray;
}
/* /footer thirddrow */
